<div class="container-fluid row justify-content-md-center mt-4">
  <div class="col-8">
    <div class="jumbotron text-center text-white">
      <div class="bg-text">
        <h1 class="display-4">Alpha-Blog</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-8 d-flex justify-content-center">
        <span class="col-4 d-flex justify-content-center"><%= link_to "New Article", new_article_path %></span>
        <span class="col-4 d-flex justify-content-center"><%= link_to "Articles Listing", articles_path %></span>
        <span class="col-4 d-flex justify-content-center"><%= link_to "About", about_path %></span>
      </div>
    </div>
  </div>
</div>