<div style="width: 100%; text-align: center">
    <h1>Edit <%= @article.title %></h1>
    
    <%= render 'form' %>
    

    <%= link_to 'Cancel and return to articles listing', articles_path %>
</div>