<div style="width: 100%; text-align: center">
    <h1>Article <%= @article.id %></h1>
    <p><b>Title:</b> <%= @article.title %></p>
    <p><b>Description:</b> <%= @article.description %></p>
    <p>Created At: <%= @article.created_at %></p>
</div>