
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require_tree .
 *= require_self
 */

.index-table {
    width: 100%;
 }

.index-table  table, td {
    border: 1px solid grey;
}

.index-table th {
    background-color: grey;
    color: white;
}

.new-btn {
    float: right;
    margin-right: 15px;
    border: 2px solid green;
    background-color: green;
    border-radius: 2px; 
    color: white;
    font-size: 18px;
    padding: 5px;
}

.new-btn a {
    text-decoration: none;
    color: white;
}

.new-btn b {
    font-size: 20px;
}