@import 'bootstrap/dist/css/bootstrap';

.navbar {
  background-color:black !important;
  color: white !important;
}

#nav-custom-logo {
  color: white !important;
}

.new-btn {
  float: right;
  a {
    text-decoration: none;
    color: white;
  }
}



.index-table {
  width: 100%;
}

.index-table  table, td {
  border: 1px solid grey;
}

.index-table th {
  background-color: grey;
  color: white;
}