@import 'bootstrap/dist/css/bootstrap';

html,
body {
  height: 100%;
}

.navbar {
  background-color: #343a40 !important;
  padding-top: 0;
  padding-bottom: 0;
}

.nav-link {
  color: white !important;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

.jumbotron {
  position: relative;
  background-image: asset-url('alentejo-balloons.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 425px;
}

.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

#nav-custom-logo {
  color: white !important;
}

.new-btn {
  float: right;
  a {
    text-decoration: none;
    color: white;
  }
}

.index-table {
  width: 100%;
}

.index-table  table, td {
  border: 1px solid grey;
}

.index-table th {
  background-color: grey;
  color: white;
}

#page-content {
  flex: 1 0 auto;
  background-color: whitesmoke;
}

#sticky-footer {
  flex-shrink: none;
}