<h1 class="text-center mt-4">Edit Category</h1>
<div class="container">
  <%= render 'form' %>
      <div class="mb-3">
          <%= link_to '[Cancel and return to category ]' , category_path(@category), class: "text-info" %>
      </div>  
  </div>
</div>