<footer id="sticky-footer" 
        class="py-4 bg-dark text-white justify-content-md-center">
    <div class="container justify-content-md-center">
      <div class="col-12 d-flex justify-content-center">
        <span class="col-12 d-flex justify-content-center">
          Copyright &copy;&nbsp; <%= link_to "Mexxiax Github", "https://github.com/Mexxiax", class: "text-white" %>
        </span>
      </div>
    </div>
</footer>