<footer id="sticky-footer" 
        class="py-4 bg-dark text-white justify-content-md-center">
    <div class="container justify-content-md-center">
      <div class="col-12 d-flex justify-content-center">
        <span class="col-12 d-flex justify-content-center">
          Copyright &copy; Messias
        </span>
      </div>
    </div>
</footer>