<nav class="navbar navbar-light bg-light">
  <div class="container-fluid d-flex justify-content-between">
    <a class="navbar-brand" id="nav-custom-logo" href="<%= root_path %>"><b>Alpha-Blog</b></a>
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-warning bi bi-search" type="submit"></button>
    </form>
    <span class="d-flex">
      <span><button class="btn btn-success">Sign In</button></span>&nbsp;
      <span><button class="btn btn-primary">Sign Up</button></span>
    </span>
  </div>
</nav>